// Colores
$primary-color: #8e3e8d;
$primary-hover: #6a00a4;
$text-color: #333;
$background-color: #fff;
$dark-bg:#222;

//Tipografía
$font-stack: "Nunito Sans", sans-serif;

//Espaciados
$section-padding: 4rem;